body {
  background-color: #f5f5f5;
}

.nav-link {
  font-family: "Maven Pro", sans-serif;
}

.nav-link:hover {
  font-weight: bold;
}

.hero {
  margin: 100px 0 140px 0;
}
h1,
h2,
h3 {
  font-family: "Shadows Into Light", cursive;
}
h1 {
  font-size: 5em;
}

h2 {
  font-size: 2em;
}

p {
  font-family: "Maven Pro", sans-serif;
}
.hero-img {
  transform: rotate(2deg);
  margin-left: 600px;
  margin-top: -300px;
}
/* buttony styles from paper.css */
.buttony {
  box-shadow: 15px 28px 25px -18px rgb(0 0 0 / 20%);
  transition: all 235ms ease-in-out 0s;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-color: #41403e;
  padding: 0.75rem;
  font-family: "Shadows Into Light", cursive;
}

.buttony:hover {
  transform: translate3d(0, 2px, 0);
  box-shadow: 2px 8px 8px -5px rgb(0 0 0 / 30%);
}

.socials a {
  font-size: 1.5em;
  color: #41403e;
  padding: 0 0.5rem;
}
